<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PFPTrade</title>
  <link rel="stylesheet" href="/static/css/output.css">
</head>
<body class="bg-base-200 p-6">
  <div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">pfp trade</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <details>
            <summary>Start trading</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Sign up</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
